.container {
  width: 90% !important;
  max-width: none;
  background-color: white;
}

body {
  background-color: #eeeeee;
}

.agenda-operations-floating {
  display: none;
}

@media (max-width: 992px){
  .agenda-operations-floating {
    display: block !important;
    position: fixed !important;
    bottom: 20px;
  }

  #puce {
    right: 20px;
  }

  #semaine_suivante {
    right: 75px;
  }

  #semaine_precedente {
    right: 180px;
  }

  #aujourdhui {
    right: 125px;
  }

  .titre-jour {
    font-size: 2em;
    background-color: #e0e0e0;
  }
}
