.row-planning {
  min-height: 50vh;
}

.row-event {
  height: 3vh;
  margin-bottom: 0;
}

.row-event-empty {
  height: 2vh;
  margin-bottom: 0;
}

.col-event {
  height: 100%;

}

.row-heure {
  padding-left: 10%;
}
